---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Subtitle from '../components/Subtitle.astro';
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <main class="w-full">
      <h1 class="text-5xl mb-16">Typography</h1>
      <Subtitle text="Headers" />
      <Card />
    </main>
  </div>
</Layout>
